<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Twido - The full-stack JS Todo Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Omkar Patil">

    <!-- Le styles -->
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/stylesheets/jquery.jnotify.min.css" rel="stylesheet">
    <link href="/stylesheets/jquery-ui-1.8.19.custom.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand">Twido</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a id="about" data-bind="popover: {placement: 'bottom'}" href="https://github.com/ospatil/twido" target="_blank" rel="popover" data-content="Click to check out the Twido Github page for the usual suspects - why, how, what and what not ...">About</a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="padding-top-10px"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://twido.nodester.com" data-via="omkar_p" data-hashtags="twido">Tweet</a></li>
              <li><a id="logout" data-bind="attr: { href: logoutUrl}" title="Logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

      <div class="row offset1" id="main">
        <div id="content" class="span8">
          <h3 >Welcome <span data-bind="text: name">username</span><small>  See what you have got in your bucket ...</small></h3>
          <form class="well form-inline" data-bind="submit: addTask" method="post">
              <label class="control-label" for="task-field">Add Task:</label>
              <input type="text" class="input-xlarge" id="task-field" data-bind="value: newTaskText" placeholder="What needs to be done?" maxlength="50" />
              <select class="input-small" data-bind="options: priorities, value: newTaskPriority"></select>
            <button class="btn" type="submit">Add</button>
          </form>
          <table class="table table-striped table-bordered table-condensed" data-bind="visible: tasks().length > 0">
              <thead><tr><th>Done?</th><th>Task</th><th class="centered">Priority</th><th colspan="2"></th><th class="centered" id="sendto" data-bind="popover: {placement: 'top'}" data-content="Just drag the arrow  and drop it on your buddy to move task to his bucket."><i class="icon-info-sign" title="Send to"></i></th></tr></thead>
              <tbody data-bind="foreach: { data: tasks, afterRender: onAfterRenderTask }">
                  <tr class="droppable">
                      <td class="centered eight-per"><input type="checkbox" data-bind="checked: isDone, disable: editMode, click: $parent.toggleCompletion" /></td>
                      <td data-bind="css: {disabled: isDone}">
                        <span data-bind="visible: !editMode(), text: title"></span>
                        <span class="label label-important float-right" data-bind="visible: !editMode() && from() !== 'own', text: from"></span>
                        <input class="input-xlarge margin-top-8px" data-bind="visible: editMode(), value: title" />
                      </td>
                      <td class="centered sixteen-per" data-bind="css: {disabled: isDone}">
                        <span data-bind="visible: !editMode(), text: priority"></span>
                        <select class="input-small margin-top-8px" data-bind="visible: editMode(), options: $parent.priorities, value: priority"></select>
                      </td>
                      <td class="centered eight-per">
                        <a data-bind="visible: !isDone() && !editMode(), click: $parent.edit"><i class="icon-edit" title="Edit"></i></a>
                        <a data-bind="visible: editMode(), click: $parent.cancel"><i class="icon-remove" title="Cancel"></i></a>
                        <a data-bind="visible: editMode(), click: $parent.editSave"><i class="icon-ok" title="Save"></i></a>
                      </td>
                      <td class="centered eight-per">
                        <a data-bind="click: $parent.removeTask"><i class="icon-trash" title="Delete"></i></a>
                      </td>
                      <td class="centered eight-per">
                        <i data-bind="visible: !isDone() && !editMode(), attr: {id: id}" class="icon-share-alt" title="Send to buddy"></i>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        
        <div class="span2 offset1 text-centered">
          <div class="alert alert-info">
            <i class="icon-info-sign float-left" data-bind="popover: {placement: 'bottom'}" data-content="Use refresh icon to fetch your buddies again if you add members to <strong>mytwido</strong> list on twitter."></i>
            <strong>Buddies</strong>
            <a data-bind="click: getBuddies"><i class="icon-refresh float-right" title="Refresh"></i></a>
          </div>
          <ul id="buddy-list" class="unstyled text-centered" data-bind="visible: buddies().length > 0, foreach: { data: buddies, afterRender: onAfterRenderBuddy }">
            <li data-bind="attr: {id: id}">
              <div class="buddy" data-bind="css: { 'buddy-online': online, 'buddy-offline': !online}">
                <span data-bind="text: screenName"></span>
                <span class="float-right"><img data-bind="visible: online" src="images/online.png"/></span>
                <span class="float-right"><img data-bind="visible: !online" src="images/offline.png"/></span>
              </div>
            </li>
          </ul>
          <div class="alert" data-bind="visible: buddies().length == 0">
            <p>You can pass todos to your buddies too. All you have to do is </p>
            <p>Go to twitter.</p>
            <p>Create a public list named <strong>mytwido</strong>.</p>
            <p>Add a few members to it.</p>
            <p>Hit refresh icon above.</p>
            <p>Drag and drop todos from todo list on your buddies.</p>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write(unescape('%3Cscript src="/javascripts/lib/jquery-1.7.2.min.js"%3E%3C/script%3E'))</script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write(unescape('%3Cscript src="/javascripts/lib/jquery-ui-1.8.19.custom.min.js"%3E%3C/script%3E'))</script>
    <script src="/javascripts/lib/bootstrap.min.js"></script>
    <script src="/javascripts/lib/jquery.jnotify.min.js"></script>
    <script src="/javascripts/lib/knockout-2.0.0.js"></script>
    <script src="/javascripts/lib/jquery.url.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client-app.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
